<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">home</a></li>
      <li class="breadcrumb-item active" aria-current="page">lineas transporte</li>
    </ol>
  </nav>
  <h1 class="h3">lineas transporte</h1>
</div>

<div class="container">
  <div class="m-3">
    <button class="btn btn-outline-primary btn-sm" type="button" name="nuevoLineaTransporte"
      [routerLink]="['/lineatransporte/form']">
      Registrar Linea transporte
    </button>
  </div>
  <table class="table table-striped table-bordered" aria-describedby="tablaLineas">
    <thead class="btn-dark">
      <tr>
        <th scope="col">Nombre Linea</th>
        <th scope="col">Agencia</th>
        <th scope="col">acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lineaTransporte of listaLineaTransportes">
        <td>{{ lineaTransporte.nombreLinea }}</td>
        <td>{{ lineaTransporte.idAgencia }}</td>
        <td>
          <button class="btn btn-outline-info btn-sm m-2" type="button" name="editar" [routerLink]="[
              '/lineatransporte/form',
              lineaTransporte.idLineaTransporte
            ]">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="eliminarLineaTransporte(lineaTransporte)" class="btn btn-outline-danger  btn-sm m-2"
            type="button" name="eliminar">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
