<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Transportes</li>
    </ol>
  </nav>
  <h1 class="h3">Transportes</h1>
</div>

<div class="container m-3">
  <div class="m-3">
    <button class="btn btn-outline-primary btn-sm" type="button" name="nuevoTransporte"
      [routerLink]="['/transporte/form']">
      Registrar Transporte
    </button>
  </div>
  <table class="table table-striped table-bordered">
    <thead class="btn-dark">
      <tr>
        <th>Nombre Conductor</th>
        <th>Patente</th>
        <th>Linea Transporte</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transporte of listaTransportes">
        <td>{{ transporte.nombreConductor }}</td>
        <td>{{ transporte.patente }}</td>
        <td>{{ transporte.lineaTransporte }}</td>
        <td *ngIf="transporte.estado">Activo</td>

        <td *ngIf="!transporte.estado">Inactivo</td>
        <td>
          <button class="btn btn-outline-info btn-sm m-2" type="button" name="editar"
            [routerLink]="['/transporte/form', transporte.idTransporte]">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="eliminarTransporte(transporte)" class="btn btn-outline-danger  btn-sm m-2" type="button"
            name="eliminar">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
