<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Mapa recorridos</li>
    </ol>
  </nav>
  <h1 class="h3">Mapa recorridos</h1>
</div>


<div class="row m-3">
  <div class="col-md-2">
    <div class="form-group">
      <label for="input_line_transport">Lineas</label>
      <select multiple class="form-control" id="input_line_transport" style="  background-color: #d6dcdc; ">
        <option (click)="getRecorridoLinea(null)" id="ninguna">ninguna</option>
        <option *ngFor="let item of arrayLineas" [id]="item.idLineaTransporte"
          (click)="getRecorridoLinea(item.idLineaTransporte)">{{item.nombreLinea}}</option>
      </select>
    </div>
    <span *ngIf="loadingLines">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </span>

  </div>
  <div class="col-md-10">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="mapTypeId">
      <agm-kml-layer [url]="fileKML"> </agm-kml-layer>
      <agm-marker (markerClick)="getTransporte(item.idTransporte)" *ngFor="let item of arrayCoordenadas"
        [latitude]="item.latitud" [longitude]="item.longitud" [iconUrl]="icono">
        <agm-info-window>
          <span *ngIf="!loadingMaker">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </span>
          <span *ngIf="loadingMaker">
            <h6> {{lineaTransporte.nombreLinea }}</h6>
            <span>Patente: {{transporte.patente}}</span><br>
            <span>Conductor: {{transporte.nombreConductor}}</span>
          </span>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <h4>{{lineaSeleccionada}} {{agenciaSeleccionada}}</h4>
  </div>
</div>
