<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reclamos</li>
    </ol>
  </nav>
  <h1 class="h3">Reclamos</h1>
</div>


<div class="container m-3" style='font-size: 0.8rem;'>
  <table class="table table-striped table-bordered">
    <thead class="btn-dark">
      <tr>
        <th>Patente</th>
        <th>conductor</th>
        <th>titulo reclamo</th>
        <th>descripcion</th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reclamo of reclamos">
        <td>{{reclamo.idTransporte}}</td>
        <td>{{reclamo.idReclamo}}</td>
        <td>{{reclamo.titulo}}</td>
        <td>{{reclamo.comentario}}</td>
        <td>{{reclamo.idUsuario}}</td>
      </tr>
    </tbody>
  </table>
</div>
