<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reclamos</li>
    </ol>
  </nav>
  <h1 class="h3">Reclamos</h1>
</div>


<div class="container m-3">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre Conductor</th>
        <th>Patente</th>
        <th>titulo reclamo</th>
        <th>descripcion</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
